/*
* SPDX-FileCopyrightText: © 2024 Josef Hahn
* SPDX-License-Identifier: AGPL-3.0-only
*/

.klv_label__header {
    font-size: 1.3em;
}

.klv_label__small {
    font-size: 0.8em;
    opacity: 0.8;
}

.klv_label__highlighted {
    color: var(--klv-label-highlighted-fg-color);
}

.klv_label__warning {
    color: var(--klv-label-warning-fg-color);
}

.klv_label__error {
    color: var(--klv-label-error-fg-color);
}

.klv_sidebar {
    background: #69b2fb11;
}

.klv_head_bar {
    background: #69b2fb22;
    padding: 0.2rem;
}

.klv_head_bar.klv_head_bar__failed {
    background: #fb69b222;
}

.klv_head_bar.klv_head_bar__successful {
    background: #69fbb222;
}

.klv_head_bar.klv_head_bar__successful_with_warning {
    background: #c2a95822;
}

.klv_head_bar_title {
    padding: 0.2rem;
}

.klv_sidebar_collapse_expand_button {
    opacity: 0.4;
}

.klv_button_link label {
    color: var(--klv-link-fg-color);
    text-decoration: underline;
}

.klv_image_zoom_out_button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.klv_image_zoom_in_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

klv_location_bar {
    background: #88888822;
}

.klv_location_bar_button {
    padding: 0.1rem 0.3rem;
}

.klv_object_editor__coloration_MAGENTA {
    --klv-object-editor-coloration-color: rgba(255, 100, 255, 0.4);
}

.klv_object_editor__coloration_CYAN {
    --klv-object-editor-coloration-color: rgba(0, 200, 200, 0.4);
}

.klv_object_editor__coloration_GRAY {
    --klv-object-editor-coloration-color: rgba(155, 155, 155, 0.4);
}

.klv_object_editor__coloration_BLUE {
    --klv-object-editor-coloration-color: rgba(120, 150, 255, 0.4);
}

.klv_object_editor__coloration_GREEN {
    --klv-object-editor-coloration-color: rgba(120, 255, 150, 0.4);
}

.klv_object_editor__coloration_YELLOW {
    --klv-object-editor-coloration-color: rgba(255, 170, 80, 0.4);
}

.klv_object_editor__coloration_RED {
    --klv-object-editor-coloration-color: rgba(255, 120, 150, 0.4);
}

.klv_object_editor__expanded,
.klv_object_editor__collapsed:not(:focus):not(:hover) {
    border-color: var(--klv-object-editor-coloration-color);
}

.klv_object_editor_title_button {
    border-radius: 0.2rem 0.2rem 0 0;
    border-width: 0.075rem;
}

.klv_object_editor_title_button:not(:focus):not(:hover) {
    border-color: #0000;
}

.klv_object_editor__collapsed,
.klv_object_editor_title_button {
    padding: 0.2rem 0.2rem 0.2em 0.2rem;
}

.klv_object_editor__expanded > * > * > .klv_object_editor_title_button,
.klv_object_editor__collapsed {
    background: var(--klv-object-editor-coloration-color);
}

.klv_object_editor_property_label {
    border-right: 0.15rem solid #888888CC;
    margin: 0.2rem;
    padding: 0.3rem 0.2rem 0 0;
}

.klv_object_editor__expanded .klv_object_editor_action_box {
    margin-left: 2rem;
}

.klv_object_editor__expanded .klv_object_editor_property_grid {
    margin-left: 1rem;
}

.klv_object_editor__expanded,
.klv_object_editor__collapsed {
    border-style: solid;
    border-radius: 0.4rem;
}

.klv_object_editor__expanded {
    border-width: 0.15rem;
}

.klv_object_editor__collapsed {
    border-width: 0.225rem;
}

.klv_object_editor__expanded {
    background: none;
}

.klv_object_editor__expanded,
.klv_object_editor__collapsed,
.klv_object_property_editor_add_child_button {
    margin: 0.3rem;
}
