[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pybenparallels"
version = "1.1.1"
description = "PyBEN Parallels repository is an easy to use python utility class for Parallels server solution"
readme = "README.md"
requires-python = ">=3.8"
license = "MIT"
authors = [
  { name = "Ben Moskovitch" },
  { name = "Ben Moskovitch", email = "darkflameben@gmail.com" }
]
maintainers = [
  { name = "Ben Moskovitch", email = "darkflameben@gmail.com" }
]
keywords = [
  "python",
  "parallels",
  "utils",
  "utilities",
  "automation",
  "automation-tools"
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Libraries",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13"
]
dependencies = [
  "pybenutils>=7.2.0",
]

[project.urls]
Homepage = "https://github.com/DarkFlameBEN/pybenparallels.git"
