[build-system]
requires = [ "hatchling",]
build-backend = "hatchling.build"

[project]
name = "colight"
version = "2025.7.8"
description = ""
readme = "README.md"
requires-python = ">=3.10"
dependencies = [ "anywidget>=0.9.10", "traitlets>=5.14.3", "websockets>=15.0",]
[[project.authors]]
name = "Matthew Huebert"
email = "me@matt.is"

[dependency-groups]
dev = [ "jax>=0.4.33; python_version<'3.13'", "jaxlib>=0.4.33; python_version<'3.13'", "watchfiles>=0.21.0", "jupyter-client>=8.6.2", "nbformat>=5.10.4", "numpy>=1.22,<2.0.0", "pytest>=8.4.0", "anthropic>=0.39.0", "python-dotenv>=1.0.1", "tomli-w>=1.0.0",]

[project.license]
text = "MIT"

[tool.pyright]
venvPath = "../.."
venv = ".venv"
include = [ "src", "tests",]
typeCheckingMode = "standard"
reportUnusedExpression = false
reportFunctionMemberAccess = false

[tool.ruff.lint]
ignore = [ "E402", "F841",]

[tool.hatch.build]
ignore-vcs = true

[tool.hatch.build.targets.wheel]
packages = [ "src/colight",]
