/* This section borrows styles from Plotly Dash stylesheet  - all credit to them */

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50); }


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }

  a {
  color: #1EAEDB; 
  text-decoration: underline;
  cursor: pointer;}
a:hover {
  color: #0FA0CE; }

  .button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

button,
.button {
  margin-bottom: 0rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem; }
p,
ul,
ol {
  margin-bottom: 0.75rem; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* End - section*/

body {
  margin:0.5em;
  min-width:1280px;
}

h2 {
  width:max-content;
  display:inline-block;
}

#context-left {
width:calc(25% - 0.5em);
margin-right:0.5em;
float:left;
}

#context-right {
width:calc(75% - 1em);
float:left;
margin-left:0.5em;
margin-right:0.5em;
}

#context-left.text-view, #context-right.text-view {
width:50%;
}

#context-left.text-view > h2, #context-left.text-view > table, #context-left.text-view > div {
display:none;
}

#context-left.text-view div#text-context {
display:block;
margin-right:0.5em;
}

#context-left.text-view div#text-context div#text-context-view {
overflow-y:scroll;
height:400px;
}

#context-left.text-view iframe {
width:100%;
border:0px;
height:400px;
}

#selected, .highlight {
background:#F2FE00;
}

#context-right::after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}


#context-header::after {
  content: "";
  display:table;
  clear:both;
}

#context-title {
background:url('/static/images/logo.svg') no-repeat top left!important;
background-size:1.15em!important;
margin:0;
padding-left:1.15em;
margin-right:0.4em;
float:left;
cursor: pointer;
}

#context-title a {
color:#000;
text-decoration:none;
}

#corpus-name {
font-weight:bold;
}

#context-corpus-detail {
float:left;
margin-right:1em;
line-height:1.3;
margin-top:0.5em;
}

#context-corpus-detail div {
  cursor: pointer;
}

#context-search-form {
float:left;
width:50%;
margin-right:-10%;
margin-top:0.5em;
}

#form-search {
float:left;
width:30%;
display:block;
}

#form-order {
margin-left:0.5em;
width:40%;
float:left;
}


#context-main {
margin-bottom:5em;
}

#context-full {
clear:both;
width:100%;
}

#context-full h2 {
margin-top:3em;
}

#context-footer {
position:fixed;
left:0.5em;
bottom:0em;
padding-top:0.3em;
padding-bottom:0.3em;
right:0.5em;
background:#fff;
}


#context-settings {
position:absolute;
top:0em;
right:0em;
}

#settings-heading {
  margin-top:0;
}

#settings-button {
border:none;
background:url('/static/images/settings-outline.svg') no-repeat top left!important;
background-size:100% 100%!important;
position:absolute;
top:1em;
right:1.4em;
width:3.5em;
}

.context-button {
border:none;
background:url('/static/images/easel-outline.svg') no-repeat top left!important;
background-size:100% 100%!important;
width:fit-content;
position:relative;
top:-0.5em;
margin-left:1em;
width:3.5em;
margin-left:0.2em;
}



#context-table-button {
background:url('/static/images/list-outline.svg') no-repeat top left!important;
}

.context-options-button {
background:url('/static/images/options-outline.svg') no-repeat top left!important;
}

#expand-table-button {
background:url('/static/images/chevron-down-outline.svg') no-repeat top center!important;
width:100%;
}

#expand-table-button.expand {
background:url('/static/images/chevron-up-outline.svg') no-repeat top center!important;
width:100%;
margin-bottom:1.5em;
}

.context-reports-button {
background:url('/static/images/albums-outline.svg') no-repeat top left!important;
}

.context-previous-button.context-button {
background:url('/static/images/chevron-back-outline.svg') no-repeat top left!important;
margin-left:0.1em;
}

.context-next-button.context-button {
background:url('/static/images/chevron-forward-outline.svg') no-repeat top left!important;
margin-left:0.1em;
}

.context-start-button.context-button {
background:url('/static/images/chevron-start-outline.svg') no-repeat top left!important;
margin-left:0.1em;
}

.context-end-button.context-button {
background:url('/static/images/chevron-end-outline.svg') no-repeat top left!important;
margin-left:0.1em;
}

@media (max-width: 1600px) {
#context-left .context-start-button, #context-left .context-end-button {
display:none!important;
}
}


.disabled {
  cursor:auto;
  opacity:0.25;
}

.reports-nav {
  position:absolute;
  right:10px;
  top:10px;
  background:#fff;
  border-top:1px solid #eee;
  border-right:1px solid #eee;
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  box-shadow: -5px 5px 10px #eee;  
  list-style-type:none;
  padding:1em;
  display:none;
  z-index:2;
  width:max-content;
}

.context-reports-button:hover + .reports-nav {
display:block!important;
}

.reports-nav:hover {
display:block;
}


.context-nav {
  position:relative;
  float:right;
  width:max-content;
  margin-top:1.9em;

}

button {
  padding: 0!important;
}

#settings-close-button {
border:none;
background:url('/static/images/close-circle-outline.svg') no-repeat top left!important;
background-size:100% 100%!important;
position:absolute;
top:1em;
right:1.4em;
width:3.5em;
}

#context-settings-form {
  display:none;
  background:none;
  position:relative;
  border:none;
  top:auto;
  right:auto;
  margin:auto;
  height:auto;
}

#context-settings-form.show-form {
  background:#fff;
  display:block;
  position:fixed;
  border:0;
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-radius: 0 0 0 10px;
  box-shadow: -5px 5px 10px #eee;
  top:0em;
  right:0em;
  width:75%;
  min-height:50%;
  height:auto;
  padding:1em 2em 2em 2em;
}

/* from earlier version - won't be necessarily - but leaving in case anything useful
#table-ngrams {
  margin-right:0.5em;
}


#text-todos {
margin-top:800px;
clear:both;
width:100%
}

#text-todos li {
margin-bottom:0;
}

*/


.show {
  display:block;
}

.hide {
  display:none;
}

.clear-both {
  clear:both;
}

button span {
  display:block;
  color: transparent;
  text-indent: -9999px;
  width:2.5em!important;
  margin:0;
  overflow-x:hidden;
}

@media (max-width: 1400px) {
.context-button {
top:0px;
width:2.5em;
height:2.5em;
}

.reports-nav {
  padding-top:15px;
}
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* start table css */

.gt_table {width:100%!important;}
.gt_heading {display:none;}

.gt_table tbody tr:hover {
  background:#E3F5FB;
}

tr > .gt_row.gt_left {
  vertical-align: top!important;
}

.gt_table {
  font-size:1em!important;
}

.gt_table > .gt_table_body tr td {
  font-size: 0.9em!important;
}

.gt_table, .gt_table > thead > .gt_col_headings {
  border-top-style:none!important;
  border-top-width:0!important;
  border-bottom-color:#000!important;
}

.gt_table .gt_row {
  border-top-color:#000!important;
}

.gt_table > .gt_table_body {
  border-bottom-color:#000!important;
}

.conc-plot-wrapper h2, .conc-plot-wrapper h3 {
  display: none;
} 

.use-headless-tables .gt_table {
  border-bottom-width:1px!important;  
}

.use-headless-tables .gt_table > thead > .gt_col_headings {
  display:none;
}

.use-headless-tables .gt_table > tbody {
  border-top-style:none!important;
  border-top-color:#000!important;
  border-top-width:0px!important;
  border-bottom-width:1px!important;
}

.use-headless-tables .gt_table > tbody > tr:first-child > td {
  border-top-style:none!important;
  border-bottom-width:2px!important;
  border-bottom-style:solid!important;
}

@media (max-width: 1400px) {
.is-query-context svg {
width:80%;
height:auto;
}

.is-query-context .conc-concordance-plot-slider {
width:80%!important;  
}
}

.is-query-context .gt_table {
width:100%!important;
table-layout:fixed;
}

.is-query-context .gt_table thead th:nth-child(1), .is-query-context .gt_table tbody td:nth-child(1) {
width:5%!important;
}

.is-query-context .gt_table thead th:nth-child(3), .is-query-context .gt_table tbody td:nth-child(3) {
width:10%!important;
}

.is-query-context .gt_table thead th:nth-child(2), .is-query-context .gt_table thead th:nth-child(4), .is-query-context .gt_table tbody td:nth-child(2), .is-query-context .gt_table tbody td:nth-child(4) {
width:42.5%!important;
}



.is-query-context .gt_table tbody td:nth-child(2) {
white-space: nowrap!important;
text-overflow:ellipsis!important;
direction:rtl!important;
overflow:hidden;

}



.is-query-context .gt_table tbody td:nth-child(3) {
width:10%!important;
white-space: nowrap!important;
text-overflow: ellipsis!important;
overflow:hidden;}

.is-query-context .gt_table tbody td:nth-child(4) {
white-space: nowrap!important;

text-overflow: ellipsis!important;
overflow:hidden;
}

@media (min-width: 1400px) {
.is-query-context .gt_table thead th:nth-child(1), .is-query-context .gt_table tbody td:nth-child(1) {
width:5%!important;
}

.is-query-context .gt_table thead th:nth-child(3), .is-query-context .gt_table tbody td:nth-child(3) {
width:7%!important;
}

.is-query-context .gt_table thead th:nth-child(2), .is-query-context .gt_table thead th:nth-child(4), .is-query-context .gt_table tbody td:nth-child(2), .is-query-context .gt_table tbody td:nth-child(4) {
width:44%!important;
}


}

  /*
white-space: nowrap!important;
overflow: hidden!important;
*/

/*
#table-concordance table {
width:100%;
table-layout: fixed;
}

#table-concordance td, #table-concordance th {
white-space: nowrap;
overflow: hidden;
}

#table-concordance .context-0, #table-concordance .context-2 {
width:10%;
max-width:10%;
text-overflow:ellipsis;
}

#table-concordance .context-1, #table-concordance .context-3 {
width:40%;
max-width:40%;
}

#table-concordance .context-3 {
text-overflow:ellipsis;
}

#table-concordance .context-1 {
text-align:right!important;
}

#table-concordance .context-1 div {
display:inline-block;
float:right;
text-align:right;
white-space: nowrap;
overflow: visible;
width:auto;
} 

*/

/* end table css */


#context-reference-corpus-info .gt_table tbody tr:not(:first-child) {
  display: none;
}

#context-reference-corpus-info.expand .gt_table tbody tr:not(:first-child) {
  display: table-row;
}

.context-clickable {
  text-decoration: dotted underline;
  cursor: pointer;
}

.context-clickable:hover {
  text-decoration: underline;
  color: #1EAEDB;
}

.context-text-wrapper {
  position: relative;
  width: 100%;
}


.context-text-wrapper .context-text  {
overflow-y:scroll;
height:calc(100vh - 10em);
white-space: pre-wrap; font-family: Georgia, Cambria, "Times New Roman", Times, serif;
font-size:1.2em;
}

.context-text-metadata {
  position: sticky;
  background: #fff;
}

@media (max-width: 1400px) {
  .context-text-wrapper .context-text  {
  font-size:1em;
  }
}

/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */





/* 
unused styles - work to implement tooltips like this ...
                <div class="tooltip hide" _="on load
          remove .off
          then add .on
          then wait 3s
          then remove .on
          then add .off"><span>Enter a query here &#8594;</span></div>


*/

.tooltip {
  position: absolute;
  display: block;
}
.tooltip span {
  position: relative;
  display: block;
  position:absolute;
  right: 0.5em;
  top:0.5em; 
  width: max-content;
  background: #1EAEDB;
  color: #fff;
  padding: 0.3em;
  line-height:1;
  border-radius: 0.3em;
  transition: opacity 1s;
  opacity:0;
  z-index: 1000;  
}

.tooltip.on {
  width: auto;
  height:auto;
}

.tooltip.off {
  width: 0;
  height: 0;
  overflow: hidden;
  transition-delay:2s;
  transition: width 1s, height 1s;
}

.tooltip.on span {
  transition: opacity 1s;
  opacity:0.8;
}

.tooltip.off span {
  transition: opacity 1s;
  opacity: 0;
}