/*
* SPDX-FileCopyrightText: © 2025 Josef Hahn
* SPDX-License-Identifier: AGPL-3.0-only
*/

:root {
    --klv-link-fg-color: #0000FF;
    --klv-label-highlighted-fg-color: #000044;
    --klv-label-warning-fg-color: #2B1B00;
    --klv-label-error-fg-color: #440000;
}
