/*
* SPDX-FileCopyrightText: © 2025 Josef Hahn
* SPDX-License-Identifier: AGPL-3.0-only
*/

:root {
    --klv-link-fg-color: #7777FF;
    --klv-label-highlighted-fg-color: #BBBBFF;
    --klv-label-warning-fg-color: #DDCC99;
    --klv-label-error-fg-color: #FFBBBB;
}
