[bumpversion]
current_version = 0.3.1
commit = True
tag = True

[bumpversion:file:meson.build]
parse = version : '{current_version}'
search = version : '{current_version}'
replace = version : '{new_version}'

[bumpversion:file:pylpp_boards_pp/__init__.py]
parse = __version__ = '{current_version}'
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
